#navigation-menu {
    width: 17.5em;
    height: 70%

}

.ui-menu {
    width: 17.5em;
}

.ui-menu .ui-menuitem-link {
    height: 3.5em;
    width: 17.5em;
}

.ui-menuitem-text {
    font-size: 1.5em; 
}

.ui-menuitem-icon {
    font-size: 1.5em;
    margin-right: 1.5em;
}
